.app {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex: 0 1 auto;
  background-image: linear-gradient(to bottom,#428ff4,#4180f4);
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

#menu-root{
  width:100%;
  height: auto;
}

@media all and (max-width: 320px){
  .app{
    width: 320px;
  }
}

@media all and (min-width: 992px){
  .header-container, .services-container, .about-container{
    max-width: 960px;
  }
}

@media all and (min-width: 1200px){
  .header-container, .services-container, .about-container{
    max-width: calc(948px + 10vw);
  }
}


@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}