.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height:auto;
  background-color: transparent;
  transition: top 0.3s;
  margin: 0;
  padding: 0;
}

/* custom container styles*/
.static-navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #59c2ff;
}

.inner-content{
  padding: 15px;
}

@media all and (max-width: 320px){
  .container{
    width: 320px;
  }
}
