.footer-container{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80px;
  background-color: white;

}

.footer-container .social-icons{
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
}
