.Header-Container{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 600px;
  background-color: transparent;
  padding: 20px;
  /*background-image: url(images/testpicture2.jpg);*/
  color: white;
  /*border-bottom: 2px solid white;
  border-radius: 15px;*/

}

.Header-Container .Title{
  width: 100%;
  text-align: center;
  height: auto;
  background-color: transparent;
  margin-top: 100px;
}

.Header-Container .WebsiteInfo{
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
  background-color: transparent;
}

@media all and (max-width: 352px){
  .Header-Container{
    height: auto;
  }
}