.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 15px 0 15px;
  width: 100%;
  height: calc(45px + 0.5vh);
  background-color: transparent;

}

.Navbar .Logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: transparent;
  flex: 1 1 auto;

}

.Navbar .Logo .Logo-Link{
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: calc(1.3em + 0.1vmin);
  text-align: center;
  color: white;

}

.Navbar .NavButtons-Container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: transparent;
  flex: 1 1 auto;
  
}

.Navbar .NavButtons-Container .NavButtons{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: transparent;
  flex: 1 1 auto;

}

.Navbar .NavButtons-Container .NavButtons button{

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin: 0 0 0 10px;
  padding: 5px;
  width: 100px;
  height: 35px;
  background-color: transparent;
  font-size: calc(1em + 0.1vmin);
  border: 1.5px solid white;
  color: white;
  border-radius: 15px;

}

.Navbar .NavButtons-Container .NavButtons button:hover{
  background-color: white;
  color: black;
}

.Navbar .NavButtons-Container .NavButtons-Menu{
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  margin: 0 0 0 10px;
  width: auto;
  background-color: transparent;
  flex: 1 1 auto;
}
/* use media for a reponsive webpage*/

@media all and (min-width: 992px){
  .Navbar{
    max-width: 960px;
  }
}

@media all and (min-width: 1200px){
  .Navbar{
    max-width: 1140px;
  }
}

@media all and (max-width: 600px) {
  .Navbar .NavButtons-Container .NavButtons-Menu{
    display: flex;
  }
  .Navbar .NavButtons-Container .NavButtons{
    display: none;
  }
}
