.Navbar{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: calc(45px + 0.5vh);
  background-color: coral;

}

.Navbar .Logo{

  display: flex;
  width: 300px;
  height: auto;
  background-color: black;

}

.Navbar .Logo p{
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: calc(1em + 1vmin);
  text-align: center;
  color: white;

}

.Navbar .HomeButton{

  display: flex;
  margin: 0;
  padding: 0;
  width: 100px;
  height: auto;
  background-color: black;

}

.Navbar .HomeButton a{

  text-decoration: none;
  font-size: calc(1em + 1vmin);
  color: white;

}

.Navbar .HomeButton:hover a{
  color: lightblue;
}
/* use media for a reponsive webpage*/
@media only screen and (max-height: 600px) {
  .Navbar{
    height:auto;
  }
}

@media only screen and (max-width: 800px) {
}
